@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primaryBlue:#44dbf5;
  --primaryBlueText:#11accb;
  --navTextColor:#35a1c0;
  --darkBg:#121212;
  --footerBlue:#163b96;
  --featureGradient:#2c7b86;
  --featureIcon:#2091ff;
  --consotiumTableBG:#232425;
}

body{
  overflow-x: hidden;
}

@keyframes waveLeftToRight {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes waveRightToLeft {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.leftGradient {
  animation: waveLeftToRight 3s infinite ease-in-out;
}

.rightGradient {
  animation: waveRightToLeft 3s infinite ease-in-out;
}



