@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primaryBlue:#44dbf5;
  --primaryBlueText:#11accb;
  --navTextColor:#35a1c0;
  --darkBg:#121212;
  --footerBlue:#163b96;
  --featureGradient:#2c7b86;
  --featureIcon:#2091ff;
  --consotiumTableBG:#232425;
}

body{
  overflow-x: hidden;
}